<mat-card>
  <mat-card-header>
    <div style="display: flex;flex-flow: column">
      <div style="display: flex" *ngFor="let item of dictionary">
        <input type="text" style="" [(ngModel)]="item.key">
        <input type="text" style="" [(ngModel)]="item.value">
      </div>
      <button type="button" style="width: 30vh" (click)="addDict()">增加字典项</button>
    </div>
  </mat-card-header>
  <mat-card-content>
    <div style="display: flex">
      <textarea style="height: 30vh;" [(ngModel)]="before"></textarea>
      <div style="height: 30vh;" [innerHTML]="after"></div>
    </div>
  </mat-card-content>
  <mat-card-actions>
    <button type="button" style="left: 50vw" (click)="translate()">翻译</button>
  </mat-card-actions>
</mat-card>
